@import "src/Colors";

.media {
  img, video {
    max-width: 600px;
    max-height: 400px;
  }

  audio {
    height: 40px !important;
  }

  >div {
    white-space: pre-wrap;
  }
}

.list {
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  padding: 10px;

  flex: 0 1 auto;
  min-height: 0;

  .item {
    color: $baseTextColor;
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .short {
      display: flex;
      flex-wrap: nowrap;

      cursor: pointer;

      :first-child {
        flex-grow: 1;
      }
    }

    .questions {
      .question {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 10px;

        :first-child {
          flex-grow: 1;
        }
      }
    }
  }
}

.scoreControl {
  color: $baseTextColor;
  border-top: 10px solid #333435;

  padding: 10px;

  .control {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    div {
      margin: 0 10px;
    }

    div:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button {
      height: 30px;
      width: 30px;
      padding: 0;
    }
  }
}

.score {
  font-size: 38px;
  font-weight: bold;
}

.timer {
  .time {
    text-align: center;
    font-size: 30px;
  }

  .timerButton {
    font-size: 18px;
    height: 28px;
    width: 100px;
  }
}

.gong {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 18px;
}
