@import "src/Colors";

.media {
  img, video {
    width: 95vw !important;
    height: 95vh !important;
  }

  img {
    display: block;
    object-fit: contain;
  }

  audio {

  }
}

.score {
  font-weight: bold;

  p {
    font-size: 30vmin !important;
  }
}
