@import "src/Colors";

.players {
  width: 100%;
  margin: 0;
}

.player {
  background-color: $baseBackgroundDark;

  &.selected {
    background-color: $baseBackgroundSelect !important;
    color: $baseTextColorSelect;
  }

  &.self {
    background-color: $baseBackgroundButton;
  }

  &.active {
    cursor: pointer;
    &:active {
      transform: translateY(5px);
    }
  }
}
