@import "src/Colors.scss";


body {
  background-color: $baseBackground;
}

.body {
  height: 100%;

  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  background-color: $baseBackground;
  color: $baseTextColor;

  .header {
    background-color: $baseBackgroundDark;
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .textRight {
      text-align: right;
    }
  }

  a {
    color: $baseTextColor;
  }

  .category {
    padding: 16px;
  }

  .title {
      font-size: 24px;
  }

  .subtitle {
    font-size: 22px;
  }

  .alignRight {
    right: 0;
  }

  .marginBottom {
    margin-bottom: 10px;
  }

  .tab {
    padding-left: 40px;
  }

  .preWrap {
    white-space: pre-wrap;
  }
}
