@import "src/common/Essentials.module";

.admin {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $baseBackground;
}

.header {
  height: 60px;
  background-color: $baseBackgroundDark;
  color: $baseTextColor;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;

  .logo {
    font-size: 22px;
  }

  .token {
    font-size: 22px;
  }

  .state {
    font-size: 22px;
    text-align: center;
  }

  .nav {
    display: flex;
    align-items: center;

    >:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.content {
  flex-grow: 1;
  align-items: stretch;
  color: $baseTextColor;

  display: flex;
  height: 0;

  .stateContent {
    overflow-y: scroll;
    scrollbar-width: none;
    flex-grow: 1;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .rightPanel {
    border-left: 8px solid $baseBackgroundDark;

    width: 25%;
    min-width: 25%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.blockContent {
  >div {
    padding: 8px;

    &:not(:last-child) {
      border-bottom: 8px solid $baseBackgroundDark;
    }
  }
}

.textContent {
  padding: 10px;
  font-size: 60px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $baseBackgroundDark;
  color: $baseTextColor;
  height: 100px;
  padding: 0 32px;
  width: 100%;
}

.footerItem {
  display: flex;
  flex-direction: row;

  * {
    font-size: 40px;
  }

  >*:not(:first-child) {
    margin: 0 0 0 32px;
  }
}
