@import "src/common/Essentials.module";


.auth {
  height: 100%;
  background-color: #333435;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 100%;
  max-width: 500px;
  background-color: #31495e;
  margin: 16px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-self: center;

  .title {
    color: white;
    font-size: 24px;

    margin-bottom: 20px;
  }

  input {
    display: block;

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
  }
}
