@import "src/Colors";

.loading {
  width: 100%;
  height: 100%;
  background-color: $baseBackground;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  color: $baseTextColor;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $baseBackgroundButton;
  font-style: normal;
  text-decoration: none;
  color: $baseTextColor;
  padding: 8px 12px;

  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(3px);
  }

  &.loadingButton {
    color: $baseTextColorGray;
  }

  &.selected {
    background-color: $baseBackgroundSelect;
    color: $baseTextColorSelect;
  }
}

.oval {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #535456;
  font-style: normal;
  color: white;
  padding: 8px 12px;
  font-size: 18px;
  outline: none;

  &[type='number'] {
    -moz-appearance:textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.verticalList {
  flex-direction: column;

  >:not(:last-child) {
    margin-bottom: 8px;
  }
}

.horizontalList {
  flex-direction: row;

  >:not(:last-child) {
    margin-right: 10px;
  }
}

.listItem {
  align-items: center;
  text-align: center;
  color: $baseTextColor;
  background-color: $baseBackgroundDark;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twoLineListItem {
  padding: 14px;
  >div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  :first-child {
    font-weight: bold !important;
    font-size: 22px !important;
  }

  :not(:first-child) {
    font-weight: normal !important;
    font-size: 18px !important;
  }
}
